<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/MainSite/Styles")
    @Styles.Render("~/Content/MainSite/Styles/Responsive")



</head>
<body>
    <header>
        <section>
            <div class="logo">
                <img src="~/Content/MainSite/Images/Stage-Plan-Logo.png" />
            </div>

            <nav>
                <ul>
                    <li>Home</li>
                    <li>Create stage plan</li>
                    <li>Blog</li>
                    <li>About</li>
                    <li>Contact</li>
                    
                </ul>
            </nav>
            <div class="clearBoth"></div>
        </section>
    </header>

    @RenderBody()

    <footer>
        <section>
            <ul>
                <li>Disclaimer</li>
                <li>Privacy policy</li>
            </ul>
        </section>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
