
@{
    ViewBag.Title = "Stage Plan Blog";
}

<div class="mainImage">
    <img src="~/Content/MainSite/Images/Venue.jpg" />
</div>

@*<section>
        <h4>Do I need to provide an input list</h4>

        <p>
            Consider a more advanced input list. This is where you break down by each input going into the desk. Let's assume there is a duet. One of the members... @Html.ActionLink("Do I need to provide an input list", "Do_I_Need_To_Provide_An_Input_List", "Blog")
        </p>
    </section>*@

<section>
    <h4>What do I need to include in my stage plan</h4>
    <p>A stage plot which shows a drummer, a bassist and a guitarist is great, but that's no-where near enough – How many parts make the drum (how many kick drums, snares, number of toms... @Html.ActionLink("What do I need to include in my stage plan", "What_Do_I_Need_To_Include_In_My_Stage_Plan", "Blog")</p>
</section>



<section>
    <h4>What do I do with a stage plot</h4>

    <p>
        The stage plan is a map of where your instruments are. The person who needs this is the sound engineer or the venue (or even both). This then gives... @Html.ActionLink("What do I do with a stage plot", "What_Do_I_Do_With_A_Stage_Plot", "Blog")
    </p>
</section>



<section>
    <h4>        Do I need just one stage plot?</h4>

    <p>
        That depends of course – how many line ups you have. Maybe you're the type of band who can go out as a duo at the smallest size and an eight piece... @Html.ActionLink("Do I need just one stage plot", "Do_I_Need_More_Than_One_Stage_Plot", "Blog")
    </p>
</section>



<section>
    <h4>Why do I need a stage plan</h4>
    <p>A stage plan is a very important document for the sound engineer. It shows them your line up (such as how many performers) and what equipment is being... @Html.ActionLink("Why do I need a stage plan", "Why_Do_I_Need_A_Stage_Plan", "Blog")</p>
</section>



<section>
    <h4>Stage plan vs Stage plot</h4>
    <p>It is the same thing to us. Some people call it a stage plat, others a plan but there is no difference in the definition. In fact, the online...... @Html.ActionLink("Stage plan vs Stage plot", "Stage_Plan_Vs_Stage_Plot", "Blog")</p>
</section>



